<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Editar Docente</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
</head>
<body>
	<!-- Nav bar Usando Fragmentos  -->
	<div th:replace="~{fragments/nav :: navbar}"></div>
	<div class="container-fluid">
    <h2>Editar Entrenador</h2>
    
    <form th:action="@{'/guardarEdicion'}" th:object="${entrenador}" method="post">
        <!-- Agrega tus campos de formulario para editar -->
        <!-- Por ejemplo: -->
        <label>ID:</label>
        <input type="number" th:field="*{idtrainer}" readonly="readonly" />
        
        
       
       <p>
			<label>Ingrese el Nombre:</label>
		<input type="text" placeholder="Ingrese nombre" required="" th:field="*{nombretrainer}">
	</p>
	<p>
		<label>Ingrese el Apellido:</label>
		<input type="text" placeholder="Ingrese apellido" required="" th:field="*{apellidotrainer}">
	</p>
	<p>
		<label>Ingrese el sueldo:</label>
		<input type="number" placeholder="Ingrese sueldo" min="1050" title="Por favor, ingrese mas que el sueldo minimo de 1050"  required="" th:field="*{sueldotrainer}">
	</p>
	<p>
		<label>Ingrese el Telefono:</label>
		<input type="number" placeholder="Ingrese telefono" min="900000000" title="Por favor, ingrese al menos 9 números." required="" th:field="*{telefonotrainer}">
	</p>
	
	<p>
        
        <!-- Agrega los demás campos -->
        
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
	</div>
	
	<!-- Pie de página llamando fracmento footer -->
	
</body>
<footer>
	<div th:replace="~{fragments/footer :: footer_frac}"></div>
</footer>
</html>
